.about-section {
    padding: 60px 0;
    background:linear-gradient(90deg,red,blue);

  }
  
  .about-section .container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
  }
  
  .about-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .about-section p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
  }
  
  .fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .about-section {
    padding: 60px 0;
    background:linear-gradient(90deg,#000000,#130F40);

    color: #ffffff; /* White text */
    border: none;
    border-color: transparent;
  }
  
  .about-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .about-section p {
    font-size: 18px;
    line-height: 1.6;
    color: #a9a9a9; /* Light grey for text */
  }
  
  .button-container{
    display: flex;
    justify-content: center;
  }
   
  .button {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #17795E;
    background-color: #209978;
    overflow: hidden;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(22px);
    color: #fff;
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #17795E;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 20px;
    fill: #fff;
  }
  
  .button:hover {
    background: #17795E;
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: #146c54;
  }
  
  .button:active {
    border: 1px solid #146c54;
  }